/target
output.*
.DS_Store
fakefile_201MB.txt
qr.png
tmp/qr.xz
*.pdf
*.png
*.xz
*.txt
"The Handmaid's Tale (Graphic Novel) -- Margaret Atwood, Renée Nault (Art & Adaptation) -- 2019 -- Nan A_ Talese, Knopf Doubleday Publishing Group -- f5dcaaf7e5fae59fd1174c41c722fdcb -- Anna’s Archive.azw3"
